<!DOCTYPE html>
<html>
<head>
    <title>Hello Arc!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    <img src="/images/logo.png"/>
    <div class="content">
      {{{body}}}
    </div>
  </div>

  {{#if appInsightsEnabled}}
  <script type="text/javascript" src="https://js.monitor.azure.com/scripts/b/ai.3.gbl.min.js"></script>
  <script type="text/javascript">
    const appInsightsConnectionString = {{{appInsightsConnectionStringJson}}};
    const appInsights = new Microsoft.ApplicationInsights.ApplicationInsights({
      config: {
        connectionString: appInsightsConnectionString
      }
    });
    appInsights.loadAppInsights();
    appInsights.trackPageView();
  </script>
  {{/if}}

</body>
</html>
